    &spi2 {
       status = "okay";
       


       lora: sx1272@0 {
           compatible = "semtech,sx1272";
           reg = <0>;
           label = "sx1272";
           reset-gpios = <&gpio 18 GPIO_ACTIVE_HIGH>;
	   dio-gpios = <&gpio 23 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,<&gpio 23 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,<&gpio 23 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
           
           spi-max-frequency = <1000000>;
           power-amplifier-output = "pa-boost";
       };
    };

    / {
       aliases {
          lora0 = &lora;
     };
    };

